{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark opacity-75">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="/">The World War 2 Timeline</a>
    </div>
    <div class="align-self-end">
      {% if app.user %}
          <a class="btn btn-info aria-disabled='true'" href="{{ path('app_pdf_generator') }}">Print</a>
          <a class="btn btn-warning aria-disabled='true'" href="{{ path('app_admin_panel') }}">Admin Panel</a>
          <a class="btn btn-light aria-disabled='true'" href="{{ path('app_change_password') }}">Change password</a>
          <a class="btn btn-danger aria-disabled='true'" href="/logout">Log out</a>
      {% else %}
        <a class="btn btn-info aria-disabled='true'" href="{{ path('app_pdf_generator') }}">Print</a>
        <a class="btn btn-success aria-disabled='true'" href="{{ path('app_login') }}">Log in</a>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}